@import 'tailwindcss';

@theme{
  --color-primary: #019da8;
  --color-gray-light: #eeeeee;
  --text-base: 1rem;
  --font-title: 'Arial', sans-serif;
  --font-content: 'Georgia', serif;
}

@layer base{
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html{
    @apply m-0 p-0 h-full w-full;
  }
  body{
    @apply m-0 p-0 h-full w-full;  
  }
  #root {   
    @apply h-full w-full;
  }
  main{
    @apply p-5 w-full ;
    font-family: var(--font-content);
  }
  h1, h2, h3 {
    font-family: var(--font-title);
  }
  main h1{
    @apply text-3xl pb-1;
  }  
  h2{
    @apply text-xl mt-4;
  }
  a {    
    font-family: var(--font-title);
    @apply cursor-pointer font-bold text-primary ;
  }
  nav{
    a{
      @apply text-white;
    }
    button{
      @apply font-bold ;
      &:hover {
        @apply border-b;
      }
    }
  }
}

@layer components{
  a.link, button.link {
    @apply pb-1 font-bold cursor-pointer border-primary text-primary border-b;
    font-family: var(--font-title);
    &:hover { opacity: .8;}
  }
  button.action{
    @apply bg-primary rounded-4xl text-white font-bold py-2 px-4 my-5;    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: var(--font-title);
    &:hover { opacity: .8;}
  }
  .card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .dice-container {
    @apply grid grid-cols-5 gap-x-2 mb-4 mt-8;
    .die{
      box-shadow: 0 12px 6px rgba(0, 0, 0, 0.15);
      border-radius: 20%;
      &.selected{
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2);
        transform: scale(.85);
      }      
    }
  }
  .scoreboard{
    @apply fixed h-full w-full inset-0 bg-black/50 flex flex-col items-center justify-center z-1;
    div.scores{
      @apply flex flex-col gap-x-3 mt-5 bg-white opacity-100;
      box-shadow: 0 12px 6px rgba(0, 0, 0, 0.15);
      button.category{
        @apply grid grid-cols-2 h-10 px-4 place-items-center border-t border-x border-gray-light;
        &.selected{
          @apply bg-gray-light;
        }
      }  
    }
    &.game-over{
      @apply relative h-auto w-full inset-0 bg-white flex flex-col items-center justify-center z-0;
    }
  }
  .error-message{
    @apply bg-red-100 text-red-700 p-4 rounded;
  }
  .errorModal{
    @apply fixed h-full w-full inset-0 bg-black/50 flex items-center justify-center z-10;
    div{
      @apply bg-white rounded-lg p-6 max-w-sm mx-2 opacity-100;
      h2{
        @apply text-red-600 font-bold mb-4;
      }
    }
  }
}

@layer utilities {
  .shadow-soft {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .glow {
    filter: drop-shadow(0 0 8px var(--color-primary));
  }
}
